<section id="content" class="bg-white">
    <div class="container">

          <div class="row">
                <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center m-t-3 SecTag">
                    <h2 class="section-heading">Targeted Content</h2>
                </div>

                <div class="col-xs-12 text-center SecSubTag">
                    <h2>Content To Engage Your Audience, Clients & Customers</h2>
                </div>

                <div class="col-xs-12 col-md-12 col-lg-6 text-right m-y-2 p-t-2 SecList">
                  <ul>
                      <li>Blogging</li>
                      <li>Copywriting</li>
              				<li>Infographics</li>
              				<li>Presentations</li>
    			        </ul>
                </div>

                <div class="col-xs-12 col-lg-4 text-center m-y-2 SecGraph">
                  <img src="http://res.cloudinary.com/lhk0iappn/image/upload/v1467150009/strategy_zbf19o.png" class="img-responsive center-block" alt="" />
                </div>

                <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center SecSubTag2">
                    <h2>Not sure how to say it?<br>Enhance your copy, tune your tone and<br>extend your style across the web to spark engaging brand consistency and awareness.</h2>
                </div>
                </div>

        </div>
</section>

<hr>
