<section id="contact" class="FooterImg bg-blue">
    <div class="container">

      <div class="row">
        <div class="col-sm-12 text-left m-y-2 FooterText1">
          <h2 class="One">Launch Your Business, Project or<br>Special Event With Customized Content,<br>Design Essentials and Strategic Marketing</h2>
          <h2 class="Two">Launch Your Business, Project or Special Event With Customized Content, Design Essentials and Strategic Marketing</h2>
        </div>

        <div class="col-sm-12 text-left">
          <!-- Button trigger modal -->
          <h4><a href="#"><button type="button" class="btn-xl btn-primary" data-toggle="modal" data-target="#myModal">Launch My Brand</button></a></h4>
        </div>

        <div class="col-sm-12 text-right m-t-3 p-b-1">
          <h2 class="Contact"><a href="#" data-toggle="modal" data-target="#myModal">ClutchWriter</h2></a>
          <h2 class="Contact"><a href="mailto:{{ site.email }}">solutions@ClutchWriter.com</a></h2>
          <h2 class="Contact"><a href="tel:678-653-4560">678-971-9709</h2></a>
        </div>

        <div class="col-xs-12 text-right FooterText2">
          <!-- <h2>Boost Your Brand</h2> -->
        </div>
     </div>

     <!-- <div class="row"
       <div class="col-sm-6 col-md-3">
         <div class="col-sm-1 col-sm-offset-9 text-right">
             <a href="https://twitter.com/ClutchWriter">
                 <i class="fa fa-twitter"></i>
                 <p></p>
             </a>
         </div>

         <div class="col-sm-1 text-right">
             <a href="https://www.pinterest.com/clutchwriter/">
                 <i class="fa fa-facebook"></i>
                 <p></p>
             </a>
         </div>

         <div class="col-sm-1 text-right">
             <a href="mailto:{{ site.email }}">
                 <i class="fa fa-envelope"></i>
                 <p></p>
             </a>
         </div>
     </div>
   </div> -->

  </div>
</section>

<div class="container-fluid Foot">
  <div class="row text-center p-y-1">
    <h6>&copy; Copyright, ClutchWriter, 2017</h6>
  </div>
</div>
