<section id="design" class="bg-white">
    <div class="container">

          <div class="row">
                <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center m-t-3 SecTag">
                    <h2 class="section-heading">Custom Design</h2>
                </div>

                <div class="col-xs-12 text-center SecSubTag">
                    <h2>Design Essentials For Your Projects, Products & Services</h2>
                </div>

                <div class="col-xs-12 col-md-12 col-lg-6 text-right m-y-2 p-t-2 SecList">
                  <ul>
              				<li>Websites</li>
                      <li>Responsive Email</li>
                      <li>Ecommerce Stores</li>
                      <li>Web & Mobile Apps</li>
    			        </ul>
                </div>

                <div class="col-xs-12 col-lg-4 text-center m-y-2 SecGraph">
                  <img src="http://res.cloudinary.com/lhk0iappn/image/upload/v1468525238/Store_ecxnfa.png" class="img-responsive center-block" alt="" />
                </div>

                <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center SecSubTag2">
                    <h2>Need to update your site?<br>Refresh your web presence and greet your visitors<br>with fully responsive, mobile friendly designs accessible from every device on the web.</h2>
                </div>
                </div>
        </div>
</section>

<hr>
