<header class="bg-white LogoHeader">
  <a class="page-scroll" href="#solutions">
    <div class="container">
    <div class="row">

      <div>
        <img src="http://res.cloudinary.com/lhk0iappn/image/upload/v1468879056/GlowLogo_df0i4r.png" alt="" class="img-responsive">
      </div>

    <div class="col-xs-12 text-center Tag">
      <h2 class="">Launch Your Brand With Custom<br>Content, Design & Strategy</h2>
    </div>

    <!-- <div class="col-xs-12 text-left p-y-2">
      <h4><a href="#"><button type="button" class="btn-xl btn-primary" data-toggle="modal" data-target="#myModal">Get My CASH Offer</button></a></h4>
    </div> -->

    </div>

  </div>
  </a>
</header>
