<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

        <br>
        <br>

        <h2 class="text-center">Launch Your Brand</h2>
        <h6 class="text-muted text-center p-t-1">Your privacy is very important to us. We'll never share your information with anyone.... EVER!</h6>
      </div>
      <div class="modal-body">

        <div class="container-fluid">
      <form  action="https://formspree.io/sold@cwhomebuyers.com" method="POST">
        <div class="form-group row">
          <fieldset class="col-xs-12 col-md-10 col-md-offset-1">
            <input type="text" class="form-control" id="InputName" placeholder="Name" name="name">
          </fieldset>
        </div>

        <div class="form-group row">
          <fieldset class="col-xs-12 col-md-3 col-md-offset-1 form-group">
            <input type="text" class="form-control" id="InputPhone" placeholder="Phone Number" name="phone">
          </fieldset>

          <fieldset class="col-xs-12 col-md-7 form-group">
            <input type="email" class="form-control" id="InputEmail" placeholder="Email Address" name="email">
          </fieldset>
        </div>

          <div class="form-group row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
            <textarea class="form-control" id="InputTextarea" rows="3" placeholder="Tell us a little about your project" name="textarea"></textarea>
          </fieldset>
          </div>
        </div>

        <div class="col-lg-12 text-center">
          <h4><a href="#"><button type="submit" value="submit" class="btn-default btn-sm">Get Started</button></a></h4>
        </div>
      </form>

          </div>
        </div>

        <div class="modal-footer">

        </div>
    </div>
  </div>
</div>
