  <aside class="bg-white no-padding m-b-3">
      <div id="solutions" class="container text-center m-y-3">

          <div class="row">
              <div class="col-lg-4 text-center">
                  <div class="service-box Solution">
                      <a class="page-scroll" href="#content"><i class="fa fa-pencil-square-o wow bounceIn text-diff" data-wow-delay=".1s"></i></a>
                      <h2 class="text-special p-y-1">Content</h2>
                      <h4 class="text-light">Fresh copywriting &<br>new ideas to power your<br>presence, products & posts</h4>
                  </div>
              </div>
              <div class="col-lg-4 text-center">
                  <div class="service-box Solution">
                      <a class="page-scroll" href="#design"><img src="http://res.cloudinary.com/lhk0iappn/image/upload/v1468696046/devices_ljb7yi.png" alt=""></a>
                      <h2 class="text-special p-y-1">Design</h2>
                      <h4 class="text-light">Stylish logos & layouts for your apps, email, websites,<br>& social media</h4>
                  </div>
              </div>
              <div class="col-lg-4 text-center">
                  <div class="service-box Solution">
                      <a class="page-scroll" href="#strategy"><i class="fa fa-line-chart wow bounceIn text-diff" data-wow-delay=".3s"></i></a>
                      <h2 class="text-special p-y-1">Strategy</h2>
                      <h4 class="text-light">Digital marketing<br>campaigns to target,<br>connect, channel & convert</h4>
                  </div>
              </div>
          </div>

      </div>
  </aside>
