<section id="strategy" class="bg-white" >
    <div class="container">

          <div class="row">
                <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center m-t-3 SecTag">
                    <h2 class="section-heading">Growth Strategy</h2>
                </div>

                <div class="col-xs-12 text-center SecSubTag">
                    <h2>Marketing Solutions To Position, Promote & Profit Your Brand</h2>
                </div>

                <div class="col-xs-12 col-md-12 col-lg-6 text-right m-y-2 p-t-2 SecList">
                  <ul>
                      <li>Product Development</li>
                      <li>Content Strategy</li>
                      <li>Email Marketing</li>
              				<li>Social Media Campaigns</li>
    			        </ul>
                </div>

                <div class="col-xs-12 col-lg-4 text-center m-y-2 SecGraph">
                  <img src="http://res.cloudinary.com/lhk0iappn/image/upload/v1468524073/Food_nssgkh.png" class="img-responsive center-block" alt="" />
                </div>

                <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center SecSubTag2">
                    <h2>Want more site visitors?<br>Hit your target market and direct web traffic with strategies and campaigns that engage and connect the right people with your brand.</h2>
                </div>
            </div>

        </div>
</section>
